@model IEnumerable<DTO.deliveryItem>

@{
    ViewData["Title"] = "Index";
}

<h2>Order to deliver</h2>

<table class="table">
    <thead>
        <tr>
            <th>@Html.DisplayNameFor(model => model.dishesname)</th>
            <th>@Html.DisplayNameFor(model => model.Quantity)</th>
            <th>@Html.DisplayNameFor(model => model.lastname)</th>
            <th>@Html.DisplayNameFor(model => model.firstname)</th>
            <th>@Html.DisplayNameFor(model => model.address)</th>
            <th>@Html.DisplayNameFor(model => model.idCity)</th>
            <th>@Html.DisplayNameFor(model => model.deliveryTime)</th>
            <th>@Html.DisplayNameFor(model => model.status)</th>
            <!-- might not work by Alex -->
            <!--<th>Html.DisplayNameFor(model => model.idStaff)</th>-->

        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.dishesname)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Quantity)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.lastname)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.firstname)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.address)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.idCity)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.deliveryTime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.status)
            </td>



            <td>
                @Html.ActionLink("Cancelled", "Cancelled", new { /* id=item.PrimaryKey */ }) |

                <!--Might not work, by alex lol-->
                @Html.ActionLink("Archive", "UpdateOrderStatus", new { idOrder = item.idOrder })
                <!--Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })-->
            </td>
        </tr>
        }
    </tbody>
</table>
