@model WebApplication.Models.credentials
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Login</title> <!--title of the page-->
    <!--It position the login form in center of the page + border-->
    <style>
        #login-div {
            position: absolute;
            left: 40%;
            top: 40%;
            border: 1px solid #ccc;
            padding: 10px 10px;
        }

        .field-validation-error {
            color: red;
        }
    </style>
</head>
<body>
    <div id="login-div">
        <!--The Action Autherize, the login Model, and using a post method-->
        @using (Html.BeginForm("Autherize", "Login", FormMethod.Post))
        {
            <table>
                <tr>
                    <td></td>
                    <td style="text-decoration:underline"> Merce la zone </td>
                </tr>
                <tr>
                    <!--Elements for username-->
                    <td>
                        @Html.LabelFor(model => model.username)
                    </td>
                    <td>
                        @Html.EditorFor(model => model.username)
                    </td>
                </tr>
                <tr>
                    <td></td>
                    <!--Show the user a validation error message-->
                    <td>@Html.ValidationMessageFor(model => model.username)</td>
                </tr>

                <!--Elements for password-->
                <tr>
                    <td>@Html.LabelFor(model => model.password)</td>
                    <td>@Html.EditorFor(model => model.password)</td>
                </tr>
                <tr>
                    <td></td>
                    <!--Show the user a validation erro message-->
                    <td>@Html.ValidationMessageFor(model => model.password)</td>
                </tr>
                <tr>
                    <td colspan="2">
                        <label class="field-validation-error">@Html.DisplayFor(model => model.LoginErrorMessage)</label>
                    </td>
                </tr>
                <tr>
                    <td></td>

                    <!--Buttons-->

                    <td>
                        <input type="submit" name="name" value="Login" /> <!--1st button as submit button (displayed as Login)-->
                        <input type="reset" name="name" value="Clear" /><!--2nd button reset the form (displayed as Login)-->
                    </td>
                </tr>
            </table>
        }

    </div>
    <!--Script files to show the user a validation error message-->
    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
</body>
</html>
