@model IEnumerable<DTO.Cities>

@{
    ViewData["Title"] = "Index";
}
  
<h2>Covered cities</h2>


<table class="table">
    <thead>
        <tr>
            <th>
                
            </th>
            <th>
                @Html.DisplayNameFor(model => model.city)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.post_code)
            </th>
            <th></th>
        </tr>
    </thead>

    <tbody>
        
@foreach (var item in Model) {
    var image = "~/images/" + item.img + ".jpg";
        <tr>
            <td>
                <img src=@Url.Content(image) class="img-rounded" alt="Montreux">
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.city)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.post_code)
            </td>
            <td>
        @Html.ActionLink("Restaurants", "Restaurants", new { id=item.idCity }) |
    </td>
        </tr>
}
    </tbody>
</table>
