@model IEnumerable<WebApplication.Models.Item>

@{
    ViewData["Title"] = "Index";
    
}

<!--View displaying the cart -->


<div class="container">
    @{
        int idRestaurant = Model.First().Dishe.idRestaurant;
    }
    <table class="table table-striped">
        <thead class="thead-dark">
            <tr>
                <th>Dishe</th>

                <th> @Html.DisplayNameFor(model => model.Quantity)</th>

                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        <div class="row">
                            <!--<div class="col-sm-2 hidden-xs"><img src="http://placehold.it/100x100" alt="..." class="img-responsive" /></div>-->
                            <div class="col-sm-10">
                                <h4 class="nomargin">@Html.DisplayFor(modelItem => item.Dishe.name)</h4>
                            </div>
                        </div>
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Quantity)
                    </td>
                    <td>
                        <a href="@Url.Action("DeleteItem", "Cart", new { idDish = item.Dishe.idDishes })"><button type="button" class="btn btn-danger"><i class="fa fa-trash-o"></i></button></a>
                    </td>
                </tr>
            }
            <tr>
                <td></td>
                <td>Total amount</td>
                <td><strong> @Html.Raw(ViewBag.totalAmount).- CHF</strong></td>
            </tr>
        </tbody>
        <tfoot>

            <tr>
                <td><a href="@Url.Action("Dishes", "Cities", new { id = idRestaurant})" class="btn btn-warning"><i class="fa fa-angle-left"></i>Continue Shopping</a></td>
                <td><a href="@Url.Action("SelectTime", "Cart")" class="btn btn-success btn-block">Checkout <i class="fa fa-angle-center"></i></a></td>
                <td colspan="6" class="hidden-xs"></td>
            </tr>
        </tfoot>
    </table>

</div>
