@model IEnumerable<WebApplication.Models.Item>

@{
    ViewData["Title"] = "Index";
    
}

<!------ Include the above in your HEAD tag ---------->
<link href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
<div class="container">
    @{
        int idRestaurant = Model.First().Dishe.idRestaurant;
    }
    <table id="cart" class="table table-hover table-condensed">
        <thead>
            <tr>
                <th style="width:50%">Dishe</th>

                <th style="width:8%"> @Html.DisplayNameFor(model => model.Quantity)</th>

                <th style="width:10%"></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        <div class="row">
                            <!--<div class="col-sm-2 hidden-xs"><img src="http://placehold.it/100x100" alt="..." class="img-responsive" /></div>-->
                            <div class="col-sm-10">
                                <h4 class="nomargin">@Html.DisplayFor(modelItem => item.Dishe.name)</h4>
                            </div>
                        </div>
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Quantity)
                    </td>
                    <td>
                        @Html.ActionLink("", "DeleteItem", "Cart", new { idDish = item.Dishe.idDishes })
                        <button class="btn btn-danger btn-sm"><i class="fa fa-trash-o"></i></button>
                        
                    </td>
                </tr>
            }
            <tr>
                <td></td>
                <td>Total amount</td>
                <td></td>
                <td><strong> @Html.Raw(ViewBag.totalAmount)</strong></td>
            </tr>
        </tbody>
        <tfoot>

            <tr>
                <td><a href="@Url.Action("Dishes", "Cities", new { id = idRestaurant})" class="btn btn-warning"><i class="fa fa-angle-left"></i>Continue Shopping</a></td>
                <td colspan="2" class="hidden-xs"></td>

                <td><a href="@Url.Action("SelectTime", "Cart")" class="btn btn-success btn-block">Checkout <i class="fa fa-angle-right"></i></a></td>
            </tr>
        </tfoot>
    </table>

</div>
