@model IEnumerable<WebApplication.Models.Item>

@{
    ViewData["Title"] = "Index";
}

<h2>Cart</h2>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Dishe.name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Quantity)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Dishe.name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Quantity)
            </td>
            <td>
                @Html.ActionLink("Delete", "Delete", new { id=item.Dishe.idDishes })
            </td>
        </tr>

}
    </tbody>
</table>
